.navbar {
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-1{
     display: flex;
     gap: 10px;
  }
  /* body{
    background-color: #000;
  } */
  .contact{
   color: #fff;
  }
  .about{
   color: #fff;
   gap: 2px;
  }